.layout {
  height: 100%;
  :global {
    .ant-layout {
      height: 100%;
    }

    .ant-layout-sider {
      background-color: #30363e;
    }

    .ant-layout-header {
      padding: 0 20px;
    }

    .ant-menu-dark.ant-menu-inline,
    .sider {
      height: 100%;
    }
  }
}
